extends ./partials/layout.jade

block title
	title signin

block main
	.mdl-grid
		.mdl-cell.mdl-cell--4-col
		.mdl-cell.mdl-cell--4-col
			h1.display-4 Signup
			form(action='/signup', method='POST')
				.mdl-grid.mdl-grid--no-spacing
					.mdl-cell.mdl-cell--12-col
						.mdl-textfield.mdl-js-textfield.mdl-textfield--wide
							input#email_input.mdl-textfield__input(type='text', name='email')
							label.mdl-textfield__label(for='email_input') Email
					.mdl-cell.mdl-cell--12-col
						.mdl-textfield.mdl-js-textfield.mdl-textfield--wide
							input#password_input.mdl-textfield__input(type='password', name='password')
							label.mdl-textfield__label(for='password_input') Password
					.mdl-cell.mdl-cell--12-col
						button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored Signin
		.mdl-cell.mdl-cell--4-col