doctype
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        block title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='/static/index.css')
    body
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
        
            header.mdl-layout__header
                .mdl-layout__header-row
                    span.mdl-layout-title title
                    .mdl-layout-spacer
                    nav.mdl-navigation.mdl-layout--large-screen-only
                        a.mdl-navigation__link(href='/signin') signin

            main.mdl-layout__content
                .page-content                
                    block main
                    
            footer.mdl-mini-footer
                .mdl-mini-footer__left-section
                    .mdl-logo Title
                    ul.mdl-mini-footer__link-list
                        li
                            a(href='#') Help
                            a(href='#') Contacts 
        
        script(src='/static/index.js')